*{
    margin: 0;
    padding: 0;
    border: 0;
    border-style: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    
}

body{
    display: flex;
    justify-content: center;
    padding: .1rem;
    
}
#container{  
    display: grid;
    grid-template-areas: 
        "head head"
        "frequencias frequencias"
        "desdobramento desdobramento"
        "footer footer"
    ;
}
hr{
    height: 2px;
    background-color: gray;
}
main{
    padding: .2rem;
    width: 80vw;
    height: auto;
    background-color: #F6F6F6;
}

nav{
    display: flex;
    grid-area: "head";

    height: 4%;

    padding: .2rem;

    justify-content: space-between;
    align-items: center;
    /* background-color: #4DB25E; */
}

nav img{
    
    margin:0 .4rem 0 .4rem;
}
#loterias ul{
    display: flex;
  
}

#loterias li:hover{
    
    background-color: gray;
}

#loterias li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
    height: 3.6rem;
    
}


#user ul{
    display: flex;
    justify-items:right;
}

.loto_selecionada{
    display: flex;
    justify-content: center;
    padding: .2rem;
}


#frequencias{
    display: flex;
    height: 51%;
    grid-area: "frequencias";
    padding: .4rem;
}
.container{
    display: flex;
    justify-content: center;
}
.dezena{
    margin: 5px;
    
    background-color: #F8F7EB;
    border-radius: 50% 50% 0 0;

    width: 5rem;
    height: 5rem;

    border: 1px solid #ABA452;
}

.dezena h3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;

    font-family: 'Poppins', sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
}

.dezena p{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    height: 30%;

    font-family: 'Share Tech Mono', monospace;
    font-size: 1.4rem;
    font-weight: 400;
    color: white;

}

#frequencia_dezena header{
    display: flex;
    justify-content: center;
}

#frequencia_dezena,#frequencia_conjunto{
    padding: .4rem;
}

#frequencia_dezena{
    background-color: white;
    width: 50%;
    margin-right: .4rem;
    overflow-x: hidden;
    overflow-y: auto;
}

#frequencia_conjunto{
    width: 50%;
    overflow-x: hidden;
    overflow-y: auto;
}
#frequencia_conjunto header{
    display: flex;
    justify-content: center;
}

.conjunto{
    display: flex;
    align-items: center;
    background-color: #C7C7C7;

    height: 7rem;
    overflow-x: scroll;
    overflow-y:hidden ;
}
.conjunto h2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    width: 9rem;
    background-color: green;
    color: white;

    font-family: 'Share Tech Mono', monospace;
    font-size: 2rem;
    font-weight: 400;
    color: white;


}

#desdobramentos{
    display: flex;
    grid-area: "desdobramento";

    /* height: 45%; */

    padding: .4rem;
    
    background-color: #F6F6F6;
}

#cartela{
    width: 30%;
    padding: .4rem;
    background-color: #4DB25E;
    
}

#cartela #config_cartela, form{
    background-color: white;
    padding: .4rem;
    /* height: 20%; */

}

#cartela #config_cartela h2{
    font-size: .8rem;
    /* font-weight: lighter; */
    font-family: Roboto, 'Open Sans', sans-serif;
    color: gray;

}

 #dezenas_cartela{
    display: flex;
    justify-content: space-between;
    margin-top: .4rem;
    padding: .4rem;
    /* background-color: greenyellow; */
}

#cartela #dezenas_cartela ul{
    display: flex;
    justify-content: center;
}

.dezena_button{
    display: flex;
    
    justify-content: center;
    align-items: center;

    margin: 0 .2rem 0 .2rem ;

    width: 2.5rem;
    height: 2.5rem;

    color: black;
    background-color: white;
    border-radius: 50%;
}

#container_desdobramento{
    background-color: white;
    width: 100%;
    padding: .4rem;
    margin: 0 0 0 .8rem;

}

#sugestoes_desdobramento{
    display: flex;
    align-items: center;
    height: 17.6rem;

}

.conjunto_apostas{
    padding: .2rem;
    margin: .2rem .2rem .2rem .2rem;
    width: 25%;
    /* height: 100%; */
    /* background-color: violet; */
    
}

.aposta{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.aposta li{
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    font-style: normal;
    margin: 0 .4rem 0 .4rem;
    
}

#grafico_desdobramento{
    display: flex;
    justify-content: center;
    height: 40rem;
    align-items: center;
    background-color: gray;

}

.grafico{
    display: flex;

    justify-content: center;
    align-items: center;

    height: 16rem;
    width: 16rem;

    clip-path: circle();

    font-size: 90px;
    color: white;

}


/* EFEITOS */
.aposta_selecionada{
    border-radius: 5rem;
    background-color: #39A5E1;
    color: white;
    font-weight:lighter;
}

.detalhe{
    background-color: #CCEED2;
}




footer{
    display: flex;
    grid-area: "footer";

    height: 2%;

    padding: .2rem;

    justify-content: center;

    background-color: #4DB25E;
    color: white;
}