 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:ital,wght@0,300;0,400;1,400&family=Share+Tech+Mono&display=swap" rel="stylesheet">

    <link rel= "stylesheet" type= "text/css" href="{{ url_for('assets',filename='css/global.css') }}">
    <!-- /assets/css/global.css -->

    <title>lot</title>
 </head>
 <body>
     <div id="container">

     
        <main>
            
            <nav>
                <section id="logo">
                    <img src="/assets/img/logo.svg" alt="Logo">
                    </section>
                <section id="loterias">
                    <ul>
                        <li><a href=""><img src="/assets/img/loto_facil.svg" alt="loteria"></a></li>
                        <li><a href=""><img src="/assets/img/loto_mania.svg" alt="loteria"></a></li>
                        <li><a href=""><img src="/assets/img/mega_sena.svg" alt="loteria"></a></li>
                    </ul>
                </section>
                <section id="user">
                    <ul>
                        <li><a href="">Users</a></li>
                        <li><a href=""><img src="/assets/img/users.svg" alt="UserIMG"></a></li>
                    </ul>
                </section>
            </nav>
            <hr>
            <div class="loto_selecionada">
                <h1>MEGASENA</h1>
            </div>
            <section id="frequencias">
                <article id="frequencia_dezena">
                    <header>
                        <h2>Frequencia de dezenas</h2>
                    </header>
                    <div class="container">
                        <div class="dezena">
                            <h3>00</h3>
                            <p>0000</p>
                        </div>
                        <div class="dezena">
                            <h3>00</h3>
                            <p>000</p>
                        </div>
                    </div>
                    
                    
                </article>
                <article id="frequencia_conjunto">
                    <header>
                        <h2>Frequencia de conjuntos</h2>
                    </header>
                    <div class="conjunto">
                        <h2>000</h2>
                        <div class="dezena">
                            <h3>00</h3>
                            <p>0000</p>
                        </div>   
                    </div>
                    
                </article>
            </section>

            <section id="desdobramentos">
                <article id="cartela">
                    <section id="config_cartela">
                        <form action="">
                            <h2>Assinale quantos números voce esta marcando neste jogo:</h2>
                            <label for="">6</label>
                            <input type="radio" id="" name="" value="">
                            <label for="">7</label>
                            <input type="radio" id="" name="" value="">
                            <label for="">8</label>
                            <input type="radio" id="" name="" value="">
                            <label for="">9</label>
                            <input type="radio" id="" name="" value="">
                            <label for="">10</label>
                            <input type="radio" id="" name="" value="">
                            <label for="">11</label>
                            <input type="radio" id="" name="" value="">
                            <label for="">12</label>
                            <input type="radio" id="" name="" value="">
                            <label for="">13</label>
                            <input type="radio" id="" name="" value="">
                            <label for="">14</label>
                            <input type="radio" id="" name="" value="">
                            <label for="">15</label>
                            <input type="radio" id="" name="" value="">
                            
                            <h2>Surpresinha:</h2>
                            <label for="">1</label>
                            <input type="radio" id="" name="" value="">
                            <label for="">2</label>
                            <input type="radio" id="" name="" value="">
                            <label for="">3</label>
                            <input type="radio" id="" name="" value="">
                            <label for="">4</label>
                            <input type="radio" id="" name="" value="">
                            <label for="">5</label>
                            <input type="radio" id="" name="" value="">
                            <label for="">6</label>
                            <input type="radio" id="" name="" value="">
                            <label for="">7</label>
                            <input type="radio" id="" name="" value="">
                            <label for="">8</label>
                            

                            <h2>Teimosinha:</h2>
                            <label for="">1</label>
                            <input type="radio" id="" name="" value="">
                            <label for="">2</label>
                            <input type="radio" id="" name="" value="">
                            <label for="">3</label>
                            <input type="radio" id="" name="" value="">

                        </form>
                    </section>

                    <section id="dezenas_cartela">
                        <div class="dezena_button">00</div>
                        <div class="dezena_button">00</div>
                        <div class="dezena_button">00</div>
                        <div class="dezena_button">00</div>
                        <div class="dezena_button">00</div>
                    </section>
                    
                </article>

                <section id="container_desdobramento">
                    <section id="sugestoes_desdobramento">
                        <article class="conjunto_apostas">
                            <ul class="aposta aposta_selecionada">
                                <li class="dezena_aposta">00</li>
                                <li class="dezena_aposta">00</li>
                                <li class="dezena_aposta">00</li>
                                <li class="dezena_aposta">00</li>
                                <li class="dezena_aposta">00</li>
                                <li class="dezena_aposta">00</li>
                            </ul>
                            <ul class="aposta detalhe">
                                <li class="dezena_aposta">00</li>
                                <li class="dezena_aposta">00</li>
                                <li class="dezena_aposta">00</li>
                                <li class="dezena_aposta">00</li>
                                <li class="dezena_aposta">00</li>
                                <li class="dezena_aposta">00</li>
                            </ul>
                            <ul class="aposta">
                                <li class="dezena_aposta">00</li>
                                <li class="dezena_aposta">00</li>
                                <li class="dezena_aposta">00</li>
                                <li class="dezena_aposta">00</li>
                                <li class="dezena_aposta">00</li>
                                <li class="dezena_aposta">00</li>
                            </ul>
                            <ul class="aposta detalhe">
                                <li class="dezena_aposta">00</li>
                                <li class="dezena_aposta">00</li>
                                <li class="dezena_aposta">00</li>
                                <li class="dezena_aposta">00</li>
                                <li class="dezena_aposta">00</li>
                                <li class="dezena_aposta">00</li>
                            </ul>
                            <ul class="aposta">
                                <li class="dezena_aposta">00</li>
                                <li class="dezena_aposta">00</li>
                                <li class="dezena_aposta">00</li>
                                <li class="dezena_aposta">00</li>
                                <li class="dezena_aposta">00</li>
                                <li class="dezena_aposta">00</li>
                            </ul>
                            <ul class="aposta detalhe">
                                <li class="dezena_aposta">00</li>
                                <li class="dezena_aposta">00</li>
                                <li class="dezena_aposta">00</li>
                                <li class="dezena_aposta">00</li>
                                <li class="dezena_aposta">00</li>
                                <li class="dezena_aposta">00</li>
                            </ul>
                        </article>
                        
                    </section>
                    <section id="grafico_desdobramento">
                        <div class="grafico">
                            W.I.P
                        </div> 
                    </section>
                </section>

            </section>

            <footer>
                <p>copyrigth</p>
            </footer>
            
        </main>
    </div>
 </body>
 </html>